@charset "utf-8";
/* CSS Document */

.left{width:260px;height:1210px;background:#2a2e3d;font-family:黑体;font-size:16px;position:relative;}
.left .counter{background-image:url(../image/left_yuan.png);background-repeat:no-repeat;width:100%;height:150px;background-position:45px 20px;}
.left .counter h3{color:#f6f5f5;position:absolute;top:22px;right:55px;}
.left .counter ul{position:absolute;top:100px;left:35px;}
.left .counter ul .border-right{border-right:1px dotted #6e8095;}
.left .counter ul li{height:35px;color:#6e8095;line-height:18px;width:80px;float:left;text-align:center;list-style:none;}
.left .counter ul li span{font-size:12px;font-family:宋体;}

.left .menu{width:100%;font-size:12px;font-family:黑体;color:#6e8095;}
.left .menu .bgcolor{width:100%;height:180px;background:#383d4e;padding-top:10px;}


.height_180{height:180px;text-indent:30px;}
.height_80{height:80px;text-indent:40px;}
.height_50{height:50px;line-height:50px;text-indent:30px;}
.height_40{height:40px;line-height:40px;text-indent:40px;}
.height_30{height:30px;line-height:30px;text-indent:30px;}
.ul_width{width:200px;margin-left:35px;}
.ul_margin_left_25{margin-left:25px;}
.ul_margin_left_35{margin-left:35px;}
.bgimage_1{background:url(../image/ul_1.png); background-repeat:no-repeat; background-position: 0px -3px;}
.bgimage_2{background:url(../image/ul_2.png); background-repeat:no-repeat; background-position: 4px 15px;}
.bgimage_3{background:url(../image/ul_3.png); background-repeat:no-repeat; background-position: 2px 19px;}
.bgimage_4{background:url(../image/ul_4.png); background-repeat:no-repeat; background-position: 4px 16px;}
.bgimage_5{background:url(../image/ul_5.png); background-repeat:no-repeat; background-position: 4px 19px;}
.bgimage_6{background:url(../image/ul_6.png); background-repeat:no-repeat; background-position: 4px 16px;}
.bgimage_7{background:url(../image/ul_7.png); background-repeat:no-repeat; background-position: 4px 14px;}
.bgimage_8{background:url(../image/ul_8.png); background-repeat:no-repeat; background-position: 0px 2px;}
.bgimage_9{background:url(../image/ul_9.png); background-repeat:no-repeat; background-position: 4px 7px;}
.bgimage_10{background:url(../image/ul_10.png); background-repeat:no-repeat; background-position: 2px 7px;}
.span1{color:#ededef;}