@charset "utf-8";
/* CSS Document */
body,div,p,h1,a,ul,li,input,span{margin:0px;padding:0px;}
.main{background:#eeedec;width:100%;font-size:12px;position:relative;}
input{border:none;}
a{text-decoration:none;color:#FFF;}
ul,li{list-style:none;}

